myenv
.bundle
log/*
tmp/*
!log/.keep
!tmp/.keep
tmp/pids/*
!tmp/pids/
!tmp/pids/.keep
storage/*
!storage/.keep
public/assets
.byebug_history
node_modules
tmp
master.key
credentials.yml.enc
database.yml
